<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Simple Sidebar - Start Bootstrap Template</title>

    <!-- Bootstrap core CSS -->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/css/simple-sidebar.css" rel="stylesheet">

</head>

<body>

    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="/">
                        Home Page
                    </a>
                </li>
                <li>
                    <a href="/add">Add Device</a>
                </li>
                <li>
                    <a href="/addcategory">Categories</a>
                </li>
                <li>
                    <a href="/add">Add Device</a>
                </li>
                <li>
                    <a href="/add">Add Device</a>
                </li>
                <li>
                    <a href="/add">Add Device</a>
                </li>
                <li>
                    <a href="/add">Add Device</a>
                </li>
                <li>
                    <a href="/add">Add Device</a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">

                <a href="#menu-toggle" class="btn btn-secondary" id="menu-toggle">Toggle Menu</a>
                <h2>Device service v0.1</h2>


                    <form th:action="@{/add}" th:object="${device}" method="post">

                        <input type="hidden" th:field="${device.id}" th:value="${device.id}" />

                        <div >
                            <label th:class="${#fields.hasErrors('name') ? 'error-text' : ''}"
                                   for="name">Device name:</label><br/>

                            <input
                                    th:field="${device.name}"
                                    type="text"
                                    id="name"
                                    name="name"
                                    th:class="${#fields.hasErrors('name') ? 'error' : ''}"/>

                            <p
                                    th:class="${#fields.hasErrors('name') ? 'error-text' : ''}"
                                    th:if="${#fields.hasErrors('name')}"
                                    th:errors="${device.name}"></p>
                        </div>

                        <div>
                            <label th:class="${#fields.hasErrors('description') ? 'error-text' : ''}"
                                   for="name">Device description:</label><br/>

                            <input
                                    th:field="${device.description}"
                                    type="text"
                                    id="description"
                                    name="description"
                                    th:class="${#fields.hasErrors('description') ? 'error' : ''}"/>

                            <p
                                    th:class="${#fields.hasErrors('description') ? 'error-text' : ''}"
                                    th:if="${#fields.hasErrors('description')}"
                                    th:errors="${device.description}"></p>
                        </div>
                        <div>
                            <label th:class="${#fields.hasErrors('category.id') ? 'error-text' : ''}"
                                   for="category">Category:</label><br/>

                            <select class="form-control" th:field="${device.category.id}"  id="category">
                                <option th:each="category : ${categories}" th:value="${category.id}" th:text="${category.name}"></option>
                            </select>
                        </div>
                        <input type="submit" name="submit" value="Add"> </input>
                    </form>

            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- Bootstrap core JavaScript -->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Menu Toggle Script -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>

</body>

</html>
