<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Simple Sidebar - Start Bootstrap Template</title>

    <!-- Bootstrap core CSS -->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/css/simple-sidebar.css" rel="stylesheet">

</head>

<body>

    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="/">
                        Home Page
                    </a>
                </li>
                <li>
                    <a href="/add">Add Device</a>
                </li>
                <li>
                    <a href="/addcategory">Categories</a>
                </li>
                <li>
                    <a href="/add">Add Device</a>
                </li>
                <li>
                    <a href="/add">Add Device</a>
                </li>
                <li>
                    <a href="/add">Add Device</a>
                </li>
                <li>
                    <a href="/add">Add Device</a>
                </li>
                <li>
                    <a href="/add">Add Device</a>
                </li>
            </ul>

        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">

                <a href="#menu-toggle" class="btn btn-secondary" id="menu-toggle">Toggle Menu</a>
                <h2>Device service v0.1</h2>

                <table style="width:100%" border="2px solid black">
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Category</th>
                        <th>Options</th>

                    </tr>


                    <tr th:each="device : ${list}">
                        <td th:text="${device.id}">Id</td>
                        <td th:text="${device.name}">Name</td>
                        <td th:text="${device.category.name}">Name</td>
                        <td><a th:href="@{/edit/{id}(id=${device.id})}">Edit</a> -
                        <a th:href="@{/remove/{id}(id=${device.id})}">Remove</a> -
                        <a th:href="@{/show/{id}(id=${device.id})}">Show Device</a>
                        </td>

                        <div>
                            <a href="#" class="add-comment">Add comment</a>
                            <!--<a th:href="@{/parameters/device-{id}(id=${device.id})}" class="show-comments">Show comments</a>-->
                            <form method="post" th:action="@{/parameters/add}" class="comment-form" th:object="${parameter}">

                                <input type="hidden" th:attr="value=${device.id}" name="device.id" />

                                <div class="form-group">
                                    <label for="name">Autor:</label>
                                    <input type="text" th:field="${parameter.name}" class="form-control" id="name" placeholder="Enter author name" />
                                </div>
                                <div class="form-group">
                                    <label for="value">Comment text:</label>
                                    <textarea class="form-control" th:field="${parameter.value}" id="value" placeholder="Content...">
                            </textarea>

                                </div>

                                <button type="submit" class="btn btn-primary float-right">Add</button>
                            </form>
                        </div>




                    </tr>
                </table>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- Bootstrap core JavaScript -->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Menu Toggle Script -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    <script type="text/javascript">
    var form = $('form.comment-form');
    form.hide();
    $('a.add-comment').on('click', function(e) {
        e.preventDefault();
        $(this).siblings('form').show();
    });
</script>
</body>

</html>
